
header {

  background-color:rgb(7, 14, 121);
  height: 100px;

}

header h1 {

  color: white;
  text-align: center;
  font-size: 50px;
  padding: 20px;

}

.flex {

  display:flex;
  justify-content: space-evenly ;
}